Host,CIS Parameter,Current RegKey Value,First Audit Status,Fix applied,Second Audit Status
{{ inventory_hostname }},2.3.6.6,{{ regkeyval | default('na')}},{{ firstaudit | default('na')}},{{ fixapplied | default('na')}},{{ secondaudit | default('na') }}