Host,CIS Parameter,Current RegKey Value,First Audit Status,Fix applied,Second Audit Status
{{ inventory_hostname }},2.3.6.6,{{ RegKeyVal | default('na')}},{{ FirstAudit | default('na')}},{{ FixApplied | default('na')}},{{ SecondAudit | default('na') }}